html {
    /* border-box box model allows us to add padding and border to our elements without increasing their size */
    box-sizing: border-box;
    /* A system font stack so things load nice and quick! */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
  
/*
WAT IS THIS?!
We inherit box-sizing: border-box; from our <html> selector
Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: #131f20;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

.container {
    background: #bfd8d9;
    padding: 1rem;
    min-height: 100vh;
    min-width: 100vh;
}

.container--grid {
    display: grid;
    text-align: center;
    grid-template-areas:
    "header header header"
    "player player player";
    grid-template-columns: 3fr 1fr 3fr; 
    grid-gap: 20px;
}

header {
    grid-column: header-start / header-end;
}

header h1{
    font-weight: 400;
}

#playerArea, #compArea, #centerArea{
    display: grid;
    background-color: cadetblue;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

h2, p{
    grid-column: 1 / -1;
}

img {
    height: 300px;
}

input, h4 {
    font-weight: 400;
    border: none;
    background-color: aquamarine;
    grid-column: 1 / -1;
    margin-top: 12px;
    margin-bottom: 0;
    padding-top: 8px;
}

/* CARD STYLES */
img.card {
    margin: 1rem auto;
    border-radius: 6px;
}

/* It would be really cool to modulelate the spread of the boxshadow 
    as the number of cards increases/decreases */
img.card--stack {
    box-shadow: 1px 2px 2px rgba(0,0,0,.33);
}

/* BUTTON STYLES */
.btn {
    margin: 8px;
    opacity: .86;
    cursor: pointer;
    border-radius: 4px;
    padding: 6px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.33);
}

.btn:nth-of-type(odd) {
    margin-bottom: 0;
}

.btn:hover {
    opacity: 1;
}

#roundResult {
    font-family: Chakra Petch, sans-serif;
}
